{% if page.previous.url or page.next.url %}
<nav class="news-story__navigation" aria-label="Adjacent news stories">
  {% if page.previous.url %}
    {% assign previous_news = site.data.updates | where: 'id', page.previous.update_id | first %}
    {% assign previous_url = page.previous.url %}
    {% assign previous_url_ending = previous_url | slice: -5, 5 %}
    {% unless previous_url_ending == ".html" %}{% assign previous_url = previous_url | append: ".html" %}{% endunless %}
    <a href="{{ previous_url | relative_url }}">
      <span>← Older story</span>
      <strong>{{ previous_news.title | default: page.previous.title | escape }}</strong>
    </a>
  {% endif %}
  {% if page.next.url %}
    {% assign next_news = site.data.updates | where: 'id', page.next.update_id | first %}
    {% assign next_url = page.next.url %}
    {% assign next_url_ending = next_url | slice: -5, 5 %}
    {% unless next_url_ending == ".html" %}{% assign next_url = next_url | append: ".html" %}{% endunless %}
    <a class="news-story__newer" href="{{ next_url | relative_url }}">
      <span>Newer story →</span>
      <strong>{{ next_news.title | default: page.next.title | escape }}</strong>
    </a>
  {% endif %}
</nav>
{% endif %}
