<div class="post__share">
  <div class="share__head">
    <div class="share__title">Share this Post</div>
  </div>
  <ul class="share__list list-reset">
    <li class="share__item">
      <a class="share__link share__twitter"
        href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
        title="Share on Twitter" aria-label="Share on Twitter" rel="nofollow noopener noreferrer"><i class="ion ion-logo-twitter" aria-hidden="true"></i></a>
    </li>
    <li class="share__item">
      <a class="share__link share__facebook"
        href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
        title="Share on Facebook" aria-label="Share on Facebook" rel="nofollow noopener noreferrer"><i class="ion ion-logo-facebook" aria-hidden="true"></i></a>
    </li>
    <li class="share__item">
      <a class="share__link share__pinterest"
        href="https://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}{{ page.image }}&amp;description={{ page.title | uri_escape }}"
        title="Share on Pinterest" aria-label="Share on Pinterest" rel="nofollow noopener noreferrer"><i class="ion ion-logo-pinterest" aria-hidden="true"></i></a>
    </li>
    <li class="share__item">
      <a class="share__link share__linkedin"
        href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | uri_escape }}&summary={{ page.description | uri_escape }}&source={{ site.title | uri_escape }}"
        title="Share on LinkedIn" aria-label="Share on LinkedIn" rel="nofollow noopener noreferrer"><i class="ion ion-logo-linkedin" aria-hidden="true"></i></a>
    </li>
  </ul>
</div>
