.featured-publications {
    &__grid {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        /* Ensure cards in a strip are same height */
        margin: 0 -15px;
        /* offset bootstrap row padding */
    }

    &__item {
        margin-bottom: 30px;
        display: flex;
        /* force child article to stretch */
        flex-direction: column;

        .c-publication-card {
            flex-direction: column;
            /* Force vertical card on homepage regardless of screen size */
        }
    }
}
