{% assign c = "c-affiliation-card" %}
<div class="{{c}}">
  <div class="{{c}}__content">
    <div class="{{c}}__client-meta">
      {% if include.affiliation-item.image %}
        <div class="{{c}}__image-container">
          <img class="{{c}}__client-avatar" loading="lazy" src="{{ include.affiliation-item.image }}" alt="{{ include.affiliation-item.name }}">
        </div>
      {% endif %}
      <div class="{{c}}__client-info">
        {% if include.affiliation-item.name %}
          {% if include.affiliation-item.external_url %}
            <h3 class="{{c}}__client-name"><a href="{{ include.affiliation-item.external_url }}" target="_blank" rel="noopener">{{ include.affiliation-item.name }}</a></h3>
          {% else %}
            <h3 class="{{c}}__client-name">{{ include.affiliation-item.name }}</h3>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% if include.affiliation-item.blurb %}
      <p class="{{c}}__client-text">{{ include.affiliation-item.blurb }}</p>
    {% endif %}
  </div>
</div>
