{% assign c = "c-blog-card" %}
{% assign post_url = include.post.url %}
{% assign post_url_ending = post_url | slice: -5, 5 %}
{% unless post_url_ending == ".html" %}{% assign post_url = post_url | append: ".html" %}{% endunless %}
<div class="{{c}} col col-4 col-d-6 col-t-12">
  <div class="{{c}}__inner">

    {% if include.post.image %}
    <div class="{{c}}__image-wrap">
      <a class="{{c}}__image" href="{{ post_url | relative_url }}">
        <img loading="lazy" src="{{ include.post.image | relative_url }}" alt="{{ include.post.image_alt | default: include.post.title | escape }}" decoding="async">
      </a>
    </div>
    {% endif %}

    <div class="{{c}}__content">

      {% if include.post.tags.size >= 1 %}
      <div class="{{c}}__tags-box">
        {% for tag in include.post.tags %}
        {% assign tag_link = tag | tag_url | replace: '..html', '.html' %}
        <a href="{{ tag_link | relative_url }}" class="{{c}}__tag" rel="tag">{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}

      <h2 class="{{c}}__title">
        <a href="{{ post_url | relative_url }}">{{ include.post.title }}</a>
      </h2>

      <p class="{{c}}__excerpt">
        {% if include.post.description %}{{ include.post.description }}{% else %}{{ include.post.content | strip_html | truncate: 120 }}{% endif
        %}
      </p>

      <div class="{{c}}__meta">
        <div class="{{c}}__author-image">
          <img loading="lazy" src="{{ site.data.profile.portrait | relative_url }}" alt="{{ site.data.profile.portrait_alt | escape }}" width="44" height="44" decoding="async">
        </div>
        <div class="{{c}}__info">
          <div class="{{c}}__author-name">{{ site.data.profile.name }}</div>
          <span class="{{c}}__date"><time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date_to_string
              }}</time></span>
        </div>
      </div>

    </div>
  </div>
</div>
