/* Color Scheme */
$primary-color: #4457c4;
$secondary-color: #167d78;
$white: #ffffff;
$dark: #15171a;
$gray: #666b73;
$light-gray: #f7f7f4;
$blue-gray: #eef0f3;

$background-color: #f7f7f4;
$background-color-alt: $white;

$text-color: #15171a;

$heading-font-color: $text-color;

$link-color: $primary-color;
$link-color-hover: #3446ad;

$button-color: $background-color-alt;
$button-background-color: $primary-color;
$button-background-hover: #3446ad;

$border-color: #dedfe3;

$hr-color: $gray;
$tr-color: $white;

$syntax-highlighting-background: #f1f2ee;
